envs
venv
models/*
sbi-logs
*.tiff
*.tif
*.png
*.pyc
**/archive/
**/__pycache__/
__pycache__/
**/.ipynb_checkpoints/
**/pytest_tmp/
onedcellsim.egg-info/
**/data/
**/drafts/
**/compression/.ipynb_checkpoints/
**/compression/*.ipynb
